@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form method="post">
    <h2>Rock Paper ao Scissors?</h2>
    <input type="submit" value="Rock" asp-page-handler="Rock"  />    <br />
    <input type="submit" value="Paper" asp-page-handler="Paper"  />    <br />
    <input type="submit" value="Scissors" asp-page-handler="Scissors"/>
</form>

<h3>@Model.Message</h3>

